Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

Category: <%= link_to @job.category.title, category_path(@job.category) %>

<div><%= link_to "delete", job_path(@job), method: :delete, data: {confirm: "Really delete the article?"} %></div>
<div><%= link_to "edit", edit_job_path(@job) %></div>

<h3>Comments <%= @job.comments.size %></h3>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
<%= render partial: 'comments/form' %>


<%= link_to "<< Back to Company", company_path(@job.company) %>
