<%= form_for [@company, @contact] do |f| %>
  <p class="form_line">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p class="form_line">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </p>
  <p class="form_line">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="form_line">
    <%= f.submit "Submit", class: "submit_button" %>
  </p>
<% end %>
