<h1><%= @category.title %> Jobs</h1>

<table>
  <tr>
    <th>Position</th>
    <th>City</th>
    <th>Interest</th>
    <th>Company</th>
  </tr>
  <% @category.jobs.sort_by(&:title).each do |job| %>
  <tr>
    <td><%= link_to job.title, job_path(job) %></td>
    <td><%= job.city %></td>
    <td><%= job.level_of_interest %></td>
    <td><%= link_to job.company.name, company_path(job.company) %></td>
  </tr>
  <% end %>
</table>


<%= link_to "<< Back to All Categories", categories_path, class: "back-button" %>
