<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="/"><img id="logo" src="/assets/logo.png"></a>
    <ul>
      <li><%= link_to "Dashboard", dashboard_index_path, class: "top_nav_links" %></li>
      <li><%= link_to "Categories", categories_path, class: "top_nav_links" %></li>
      <li><%= link_to "Companies", companies_path, class: "top_nav_links" %></li>
      <li><%= link_to "Jobs", jobs_path, class: "top_nav_links" %></li>
    </ul>
</nav>
<div class="flash-container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash-message" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
